In [130]:
print('Hello, World')

Hello, World

Rules for python variables 
-must start with a letter or underscore
-name cannot start with number
-can only containe alphanumeric chars
-are case sensitive
-cannot be any of the key words

import sys 
print(sys.version)

import sys 
print(sys.version)

In [131]:
import sys 
print(sys.version)

3.14.0 (v3.14.0:ebf955df7a8, Oct  7 2025, 08:20:14) [Clang 16.0.0 (clang-1600.0.26.6)]

Python uses indentation to mark the block of code. Like after if where while etc statements

In [132]:
if 5 > 2:
    print("Five is greater that two.")

Five is greater that two.

Code on the same line uses the seperator ;

In [133]:
print("Python is decent! ") ; print('Py can do alot! ')

Python is decent!
Py can do alot!

Multiple items on the same line with print statments. using end=''

In [134]:
print("This is phrase 1", end=' ') 
print('and this is phase two.')

This is phrase 1 and this is phase two.

Getting the data type is easy with the type() function

In [135]:
x = 2
y = "3" 

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Global variables are able to be called into fuctions, or by them selves

In [136]:
x = 10
def function1(): 
    print(x)

function1()

10

In [137]:
x = "Billy"

def function2():
    x = "Steve"
    print('Say hi to ' + x)
function2()
print('Say hi to ' + x)

Say hi to Steve
Say hi to Billy

Use the global before a var to change it inside of a function.

In [138]:
def function3():
    global x 
    x = "Steve"

function3()
print("Say hi to " + x)

Say hi to Steve

In [139]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [140]:
# method of adding two lists 

list1 = [1,2,3,4]
list2 = [5,6,7,8]

list1.extend(list2)

print(list1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [141]:
print(list2)

[5, 6, 7, 8]

In [142]:
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8]

list comprehension statments

In [143]:
[print(x) for x in list1]

1
2
3
4
5
6
7
8

[None, None, None, None, None, None, None, None]

In [144]:
[print(x) for x in list1 if x == 5]

5

[None]

In [145]:
newList = [x for x in list1]

In [146]:
print(newList)

[1, 2, 3, 4, 5, 6, 7, 8]

In [147]:
# sorting a list backwards 

newList.sort(reverse = True) #For descending
print(newList)
# or

[8, 7, 6, 5, 4, 3, 2, 1]

In [148]:
newList.reverse() # reversed 
print(newList)

[1, 2, 3, 4, 5, 6, 7, 8]

Creating a copy of a list

In [149]:
list3 = []
list1 = list3.copy()

In [150]:
list4 = []
list2 = list(list4)
# also copys a list 
list5 = list1[:]

To modify a tuple you have to chage it into a list then back to a tuple. 

deleting a tuple is: del tuplename
You can add tuple to tuple

for selecting items after index item *indexNum

In [151]:
Tuple1 = (1,2,3,4,5,6,7)
(x,*y,z) = Tuple1 # x first z last *y everything in between 
print(y)

[2, 3, 4, 5, 6]

In [152]:
for x in Tuple1:
    print(x)

1
2
3
4
5
6
7

In [153]:
i = 0
while i < len(Tuple1):
    print(Tuple1[i])
    i += 1

1
2
3
4
5
6
7

In [154]:
for i in range(len(Tuple1)):
    print(Tuple1[i])

1
2
3
4
5
6
7

Set items can be removed but cannot contain doubles
You cannot access set items by the index
Sets are unordered so when you loop through them they will be totally random. 
adding items to a set: set.add(item)

you can update sets with: set.update(list)

to remove and item from a set: set.remove(item)

to discard and item from a set: set.discard(item)

joining sets together: set3 = set1.union(set2) 

joiing multiple sets together at onces: set5 = set1| set2 | set3 | set4

using intersection method on a set only keets the difference: set1.intersection(set2)

In [155]:
set1 = set((1,2,3,4,5,6,7,8,9,10)) #this is how to make a set 
print(type(set1))

<class 'set'>

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

Dictionaries cannot have two of the same keys and can be changed 

To get itens from a dict you can use the get method: dictname.get('key')

Changing items in a dict: dictname[key1] = key2 changes key 1 to key 2

In [156]:
dict1 = {'key1': 'value1','key2': 'value2','key3': 'value3'}

print(dict1)
dict1['key2'] = 'key4'
print(dict1['key2']== 'key4')
print(dict1['key2'])

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
True
key4

update or add to dict method uses simple match: x.update{key:value} key being the indexing item and value being the changed item 

Removing dict items uses pop() method: x.pop('key')

delete uses a simple syntax:  del ['key']

In [ ]:
# python loop for dict

#values only
for y in x.values: 
    print(y)

# key and value
for x,y in x.items():
    print(x,y)

#keys only 
for y in x.keys():
    print(y)

#making copies

y=dict(x)

y =x.copy()

In [ ]:
# listing through nest items in a dictionary

for x, obj in objname.items():
    print(x)
    for y in obj:
        print(y + ':', obj[y])

Short hand else statements 

print("YES") if a == b else print("NO")